
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }


    body{
      background: #fff;
      font-family:sans-serif;
      margin-top: 150px;
    }

    header{
      position: fixed;
      left:0;
      top:0;
      right:0;
      margin-top: 3%;
      background-color: #9bd8bd ; 
      display:flex;
    }

  .header ul li{
    list-style-position: calc(20);
  }

    header img{
      width: 35%;
      margin: 2px 0;
    }

    #nav_top ul{
        padding: 0 1em;
    }
    #nav_top li{
      line-height: 2em;
      background-color: orange;
      margin-bottom: 5px;
      list-style: none;
      nav-left: auto;
    }
    #nav_top ul li a{
      text-decoration: none;
    }
    #nav_top ul li a{
      margin-right: auto;
    }
    
#nav_menu{
display:block;
}

    #nav_menu ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:rgb(243, 142, 214);
    }

    #nav_menu ul li{
      list-style: none;
      line-height: 4em;
      text-align: center;
      font-size: x-large;
    }
    #nav_menu a{
      text-decoration: none;

    }

    #nav_side ul li{
    display: block;
    background-color:rgb(81, 156, 81);
    margin-bottom: 5px;
    font-size: x-large;
    line-height: 8.5em;
    text-align: center;
    }

    .container aside, .container main{
    float: left;
     }

    aside{
    width: 15%;
    }

    main{
    width: 85%;
   }
    main section img.vision{
    width:100%;
   }
 


